# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/local.properties

# Misc
*.log
.DS_Store

# Certificates (敏感文件不要上传)
*.p12
*.mobileprovision
*.zip
cert_temp/
